* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-family: 'Montserrat arm', sans-serif;
}

::selection {
    background-color: #058187;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #058187;
    border-radius: 15px;
}

// body {
//     background: url('../../../public/images/admin/admin_bg.png') no-repeat center/cover;
//     height: 100vh;
//     transition: all 0.5s linear;
// }

.adminNavbar{
    border: 1px solid black;
    padding: 30px;

    .brand{
        display: flex;
        justify-content: center;

        a{
            font-size: 35px;
        }
    }

    .links{
        border: 1px solid red;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        div{

            a{
                color: white;
                border: 1px solid black;
                padding: 10px 25px;
                background-color: grey;
            }
        }
    }
    
}